<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/places">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="place-name" placeholder="Enter Place's Name">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option disabled selected>Select an option</option>
                        <option value="Coffe Shop">Coffe Shop</option>
                        <option value="Bookstore">Bookstore</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>