body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.map {
  height: 500px;
}

.home {
  height: 100vh;
  background-image: url(/images/cafebooks.jpg);
}

.button {
  background-color: beige ;
  color: brown ;
  border: 2px solid;
  
  /* margin-top: 100px; */
}

.margin {
  margin-top: 20vh;
}

.beige {
  background-color: beige;
}

.border-brown {
  border: 2px solid brown;
}

.list {
  border-top-width: initial !important;
}